---
layout: default
title: People
---

<div class="container support" style="margin-top: 10px;">
 
  <div class="row" style="padding-top: 20px">
    <div class="col-lg-12">
      <h2>People</h2>
    
      {% assign people = site.people | sort: 'ranking' %}

      {% for person in people %}
        {% assign loopindex = forloop.index | modulo: 2 %}
          {% if loopindex == 1 %}
          <div class="row">
                <div class="col-xs-12 col-sm-6 member">
                    <img src="images/people/{{ person.image }}">
                    <div class="member-info">
                        <p><span class="name">{{ person.title }}</span><br>
                       </p>
                    </div>
                </div>
                {% else %}
                <div class="col-xs-12 col-sm-6 member">
                    <img src="images/people/{{ person.image }}">
                    <div class="member-info">
                        <p><span class="name">{{ person.title }}</span><br>
                        </p>
                    </div>
                </div>
            </div>
          {% endif %}
      {% endfor %}
     
      {% assign val = people.size | modulo: 2 %}
      {% if val == 1 %} 
            </div>
      {% endif %}
			</div>
		</div>
</div>